@import url("../../GlobalStyle.module.css");

.containerRegister {
  height: 110vh;
  background-image: url("../../assets/fundoPizza.jpg");
  background-size: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    position: relative;
    top: 10%;
    align-items: center;
    background-color: var(--mode);
    padding: 10px;
    width: 420px;
    border-radius: 10px;

    .headerRegister {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 75px;
    }

    .addUserIcon {
      i {
        font-size: 60px;
        color: var(--color-brand-2);
      }
    }

    .formRegister {
      padding: 10px;

      .nameContainer,
      .emailContainer,
      .birthdayContainer,
      .passwordContainer,
      .repeatPasswordContainer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        margin-top: 10px;

        .nameContent,
        .emailContent,
        .birthdayContent,
        .passwordContent,
        .repeatPasswordContent{
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-around;

          i {
            position: absolute;
            left: 10px; // Ajuste conforme necessário
            color: var(--color-brand-1); // Cor do ícone
            pointer-events: none;
          }

          input {
            font-size: 15px;
            padding: 5px;
            padding-left: 30px;
            border: 1px solid var(--color-brand-2);
            border-radius: 10px;
            max-width: 150px;
          }
        }
      }

      .containerButtons{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        
        button{
          padding: 10px;
          background-color: var(--color-brand-1);
          color: var(--mode);
          border-radius: 20px;
          width: 100px;
        }

        button:hover{
          background-color: var(--color-brand-2);
          cursor: pointer;
        }
      }
    }

    .containerBottom{
      text-align: center;
      padding: 20px;
      width: 100%;
      border-top: 2px dashed var(--color-brand-2);

      h2{
        color: green;
      }
      
      button{
        padding: 10px;
        background-color: var(--color-brand-1);
        color: var(--mode);
        border-radius: 20px;
        width: 100px;
        margin-top: 10px;
      }

      button:hover{
        background-color: var(--color-brand-2);
        cursor: pointer;
      }

      a{
        color: var(--mode);
        text-decoration: none;
      }
    }
  }
}
